<!DOCTYPE HTML>

<html>
	<head>
		<title>Mi Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./app.component.scss" />
		<
	</head>
	<body class="is-preload">
		<div id="page-wrapper">

				<app-encabezado></app-encabezado>
  				<app-acercade></app-acercade>
  				<app-posts></app-posts>

  

			<!-- CTA -->
				<section id="cta" class="wrapper style3">
					<div class="container">
						<header>
							<h2>Quieres saber algo más?</h2>
							<a href="#" class="button">Click acá</a>
						</header>
					</div>
				</section>

			<app-piedepagina></app-piedepagina>

		</div>

		<!-- Scripts -->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/browser.min.js"></script>
		<script src="js/breakpoints.min.js"></script>
		<script src="js/util.js"></script>
		<script src="js/main.js"></script>

	</body>
</html>