<!-- Posts -->
<section class="wrapper style1">
    <div class="container">
        <div class="row">
            <section class="col-6 col-12-narrower">
                <div class="box post">
                    <a href="#" class="image left"><img src="C:\Users\naty_\Downloads\My project (1).png" alt="" /></a>
                    <div class="inner">
                        <h3>Hola! Mi nombre es Natalia</h3>
                        <p>Vivo en San Juan Capital y tengo 29 años. Estoy dando mis primeros pasos en el mundo IT </p>
                    </div>
                </div>
            </section>
            <section class="col-6 col-12-narrower">
                <div class="box post">
                    <a href="#" class="image left"><img src="images/pic02.jpg" alt="" /></a>
                    <div class="inner">
                        <h3>Soy estudiante avanzado de Ingeniería</h3>
                        <p>Me dediqué a programar desde que aprendí lenguaje C en primer año</p>
                    </div>
                </div>
            </section>
        </div>
        <div class="row">
            <section class="col-6 col-12-narrower">
                <div class="box post">
                    <a href="#" class="image left"><img src="images/pic03.jpg" alt="" /></a>
                    <div class="inner">
                        <h3>Soy docente de Matemática, física y quimica</h3>
                        <p>Dicto clases a alumnos de secundario y también dicto cursillos de ingresos para universidades</p>
                    </div>
                </div>
            </section>
            <section class="col-6 col-12-narrower">
                <div class="box post">
                    <a href="#" class="image left"><img src="images/pic04.jpg" alt="" /></a>
                    <div class="inner">
                        <h3>Soy mentora en el club de chicas programadoras</h3>
                        <p>Les enseño a chicas entre 12 y 17 años a programar por primera vez</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>