<!-- Highlights -->
<section class="wrapper style1">
    <div class="container">
        <div class="row gtr-200">
            <section class="col-4 col-12-narrower">
                <div class="box highlight">
                    <i class="icon solid major fa-paper-plane"></i>
                    <h3> Acerca de</h3>
                    <p>Mi descripción</p>
                </div>
            </section>
            <section class="col-4 col-12-narrower">
                <div class="box highlight">
                    <i class="icon solid major fa-pencil-alt"></i>
                    <h3>Formación académica</h3>
                    <p>Mis estudios y cursos</p>
                </div>
            </section>
            <section class="col-4 col-12-narrower">
                <div class="box highlight">
                    <i class="icon solid major fa-wrench"></i>
                    <h3>Experiencias</h3>
                    <p>Hablo de mis experiencias como developer</p>
                </div>
            </section>
        </div>
    </div>
</section>

<!-- Gigantic Heading -->
<section class="wrapper style2">
    <div class="container">
        <header class="major">
            <h2>A gigantic heading you can use for whatever</h2>
            <p>My skills</p>
        </header>
    </div>
</section>